node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.tmp
*.temp
*.cache
.DS_Store
.env
.env.local
.env.*.local
.vscode/
coverage/
build/
dist/
.temp/
out/
.cache/
*.tgz
*.zip
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.orig
jest/
*.test-results
reports/
Thumbs.db
Desktop.ini
.DS_Store